 @font-face
{
font-family: mplus-1p-regular;
src: url('http://mplus-fonts.sourceforge.jp/webfonts/mplus-1p-light.ttf')
     format("truetype");
}

.movie {
	height: 200px;
	/*background-color: #3e79bb;*/
}

.sidebar-nav-fixed {
     position:fixed;
     /*top:60px;
     width:21.97%;*/
 }

* {
font-family: mplus-1p-light;
}