body{
	width: 3000px;
}

#cursor {
	width: 30px;
	height: 30px;
	background-color: #0000FF;
}

.clickable {
}

.movie {
	width: 200px;
	height: 200px;
	margin: 10px;
	float: left;		
}

.onCursor {
	background-color: #00FF00;
}

.offCursor {
	background-color: #AAAAAA;
}

.selected {
	background-color: #FF0000;
}